body.pag02{
    margin: 0;
    background-color: #5a189a; 
    font-family: Arial, Helvetica, sans-serif;
}

.pag02 main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag02 div{
    background-image: linear-gradient(to top, rgba(221, 38, 182, 0.87), rgb(100, 8, 187));
    width: 320px;
    min-height: 520px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.pag02 h1{
    font-size: 18px;
    margin-bottom: 20px;
}

.pag02 a{
    text-decoration: none;
}

.pag02 p{
    background-color: white;
    color: black;
    padding: 12px;
    margin: 10px 0;
    border-radius: 25px;
    font-size: 14px;
    position: relative;
    text-align: center;
}

.pag02 p img{
    width: 22px;
    position: absolute;
    left: 20px;
    top: 0%;
}

.pag02 p span{
    display: inline-block;
}

.pag02 img{
    width: 60px;
    margin: 10px auto 20px auto;
    display: block;
}

.pag02 p.thay{
    background: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    position: static;
    text-align: center;
}

body.pag01 {
    margin: 0;
    background-color: #5a189a; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    max-width: 700px;       
    margin: 80px auto;      
    padding: 30px;
    background-color: rgba(0,0,0,0.2); 
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.botao {
    background-color: white;
    color: #5a189a;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    
}

.email {
    color: white;
    font-weight: bold;
    text-decoration: none;
}


