*{
    box-sizing: border-box;
}

/* ---------------- PAGINA 01 ---------------- */

body.pag01{
    margin: 0;
    background: black url('FundoTela.png') center center / 100% 100% no-repeat fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container{
    max-width: 700px;
    margin: 80px auto;
    padding: 30px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 20px;
}

h1{
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.botao{
    background-color: white;
    color: #5a189a;
    padding: 8px 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.email{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* ---------------- PAGINA 02 ---------------- */

body.pag02{
    margin: 0;
    background: black url('siga.png') center center / 100% 100% no-repeat fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.pag02 main{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pag02 div{
    background-color: rgba(0, 0, 0, 0.329);
    width: 320px;
    min-height: 330px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.pag02 a{
    text-decoration: none;
}

.pag02 p{
    position: relative;
    background: white;
    color: black;
    padding: 12px;
    margin: 10px 0;
    border-radius: 25px;
    font-size: 14px;
    text-align: center;
}

.pag02 p::before{
    content: "";
    position: absolute;
    inset: -4px; 
    border-radius: inherit;
    background: linear-gradient(
        90deg,
        #5fdcff,
        #7b8cff,
        #ff66f4
    );
    z-index: -1;
}


.pag02 p img{
    width: 22px;
    position: absolute;
    left: 20px;
    top: 30%;
    transform: translateY(-50%);
}

.pag02 p span{
    display: inline-block;
}

.pag02 img{
    width: 60px;
    margin: 10px auto 20px auto;
    display: block;
}


/* ---------------- RESPONSIVIDADE ---------------- */

img{
    max-width: 100%;
    height: auto;
}

/* Tablet */
@media (max-width: 768px){

    .container{
        margin: 40px 15px;
        padding: 20px;
    }

    h1{
        font-size: 22px;
    }

    p{
        font-size: 16px;
        text-align: left;
    }
}

/* Celular */
@media (max-width: 480px){

    .pag02 div{
        width: 90%;
        padding: 15px;
    }

    .pag02 p{
        font-size: 13px;
        padding: 10px;
    }

    .pag02 p img{
        width: 20px;
        left: 15px;
    }

    h1{
        font-size: 20px;
    }
}
